@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Console.WriteLine($"{nameof(MainLayout)} - { nameof(SetParametersAsync)}");
        await base.SetParametersAsync(parameters);
    }

    protected override Task OnParametersSetAsync()
    {
        Console.WriteLine($"{nameof(MainLayout)} - { nameof(OnParametersSetAsync)}");
        return base.OnParametersSetAsync();
    }
    protected override Task OnInitializedAsync()
    {
        Console.WriteLine($"{nameof(MainLayout)} - { nameof(OnInitializedAsync)}");
        return base.OnInitializedAsync();
    }
}